<dl id="hcard" class="vcard hover microid-mailto+http:sha1:f9d974234a9b49a116154690d11e92517faab4f0">
  <dt>Name:</dt>
  <dd><a class="url fn" href="http://matid.net">Mateusz Drożdżyński</a></dd>

  <dt>e‑mail:</dt>
  <dd><a class="email" href="mailto:matid@matid.net" title="e‑mail address">matid@matid.net</a></dd>

  <dt>Twitter:</dt>
  <dd><a class="url" href="http://twitter.com/matid" title="Twitter profile">matid</a></dd>

  <dt>IM (Jabber):</dt>
  <dd><a class="url" href="xmpp:matid@matid.net" title="Jabber ID">m.drozdzynski@matid.net</a></dd>

  <dt>Mobile (UK):</dt>
  <dd class="tel">+447549927859</dd>

  <dt>Mobile (PL):</dt>
  <dd class="tel">+48698675069</dd>

  <dt>OpenID:</dt>
  <dd><a class="url" href="http://matid.net">http://matid.net</a></dd>

  <dt>i‑name:</dt>
  <dd>=matid</dd>
</dl>

<script type="text/javascript" src="/scripts/hover.js"></script>