* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl {
  font-weight: normal;
}

a img {
  border-style: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
  zoom: 1;
}